<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjx.mapper.HotMapper">
    <!-- 根据最新的时间戳查询 -->
    <select id="getNewHot" resultType="com.yjx.pojo.Hot">
        SELECT * FROM hot_weibo
        WHERE `timestamp` = (
            SELECT MAX(`timestamp`)
            FROM hot_weibo
        );
    </select>


</mapper>